doctype html
html(lang="jp")
  head
    meta(charset="UTF-8")
    title アンケート
  body
    h1 どちらが食べたいですか？
    p
      a(href="/") トップへ
    p
      a(href="/logout") ログアウトする
    form(method="post" action=path)
      p
        span 名前: 
        input(type="text" name="name")
      p
        label
          input(type="radio" name="favorite" value=firstItem)
          span #{firstItem}
        label
          input(type="radio" name="favorite" value=secondItem)
          span #{secondItem}
      p
        button(type="submit") 投稿